{% extends 'mainprogram/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Регистрация</h2>

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.username }}<br>
        {{ form.email }}<br>
        <small class="form-text text-muted fs-4">
        Пароль должен содержать минимум 8 символов и не быть слишком простым.
        </small>
        {{ form.password1 }}<br>
        {{ form.password2 }}<br>
        <span>{{ error }}</span>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>

    <p class="mt-3">Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
</div>
{% endblock %}