{% load static %}
<aside>
    <img src="{% static 'mainprogram/img/logo.jpg' %}" alt="Логотип">
    <span class="logo"></span>
    <h3>Панель</h3>
    <ul>
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}"><li>Главная</li></a>
            <a href="{% url 'profile' %}"><li>Профиль</li></a>
            <a href="{% url 'logout' %}"><li>Выход</li></a>
        {% else %}
            <a href="{% url 'home' %}"><li>Главная</li></a>
            <a href="{% url 'login' %}"><li>Войти</li></a>
            <a href="{% url 'register' %}"><li>Регистрация</li></a>
        {% endif %}
    </ul>
</aside>